.pokemon-card {
    background-color: #8DA9C4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 2rem;
    width: 100%;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
  }
  
.basic{
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .genImagen {
    object-fit: contain;  
  }
  
  
    