<div class="pokemon-card">
    <div *ngIf="sprite">
        <img [src]="sprite" alt="pokemon-sprite">
      </div>
    <div class="datos">
        <ul>
            <li class="nombre">{{name | titlecase}}</li>
            <li class="gen"><img [src]="genImg" alt="Gen {{genImg}}" class="genImagen"></li>
            <li class="tipo1"><img [src]="tipo1img" alt="{{tipo1}}"></li>
            <li class="tipo1"><img [src]="tipo2img" alt="{{tipo2}}"></li>
            <li class="peso">{{peso}}kg</li>
            <li class="altura">{{altura}}m</li>
        </ul>
    </div>
</div>