.pokemon-card {
    margin: 0.5rem;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    padding: 1px;
    max-width: fit-content;
    border-radius: 2rem;
    border: solid black 1px;
    padding-right: 1rem;
    width: 100rem;
  }
  
.basic{
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .genImagen {
    height: 24px;
    object-fit: contain;  
  }
  
  
    