.cuadro {
  background-color: gray;
  width: 4rem;
  height: 2rem;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 2rem;
  position: relative; 
  border: solid 0.2rem #13315C;
}

.cuadro > img {
  width: 5rem;
  height: 2rem;
  object-fit: contain;
}

.indicador {
position: absolute;
  top: 0; /* Posiciona el div en la parte superior */
  right: 0; /* Posiciona el div en la parte derecha */
  background-color: white; /* Fondo blanco para el div */
  color: black; /* Color del texto */
  border-radius: 50%; /* Hace el div redondo */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.2rem; /* Tamaño del div */
  height: 1.2rem; /* Tamaño del div */
  border: solid 1px #134074;
}

.indicador > img{
    width: 100%;
}

.bgCorrecto{
  background-color: rgb(172, 239, 160);
}

.bgError{
  background-color: rgb(246, 169, 169);
}
